<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <!-- 1. Remove WebDAVModule which intercepts PUT/DELETE requests -->
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!-- 2. Remove WebDAV handler if present -->
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <!-- 3. Increase max allowed content length for large file uploads (approx 2GB) -->
        <requestLimits maxAllowedContentLength="2147483647" />
        <verbs>
          <!-- 4. Explicitly allow the PUT verb which might be blocked by default in some IIS setups -->
          <add verb="PUT" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
